.menuItem {
  margin: 0 10px;
  padding: 2px 10px;
  cursor: default;
}

.menuItem.button {
  cursor: pointer;
}

.menuItem.strong {
  font-weight: bold;
}

.menuItem.button:hover, 
.menuItem.button:active {
  color: white;
  background-color: grey;
}