.menuItem {
  padding: 2px 20px;
  cursor: default;
}

.menuItem.button {
  cursor: pointer;
}

.menuItem.strong {
  font-weight: bold;
}

.menuItem.disabled {
	color: darkgrey;
}

.menuItem.button.active,
.menuItem.button:hover {
  color: white;
  background-color: grey;
}

.relative {
	position: relative;
}

.dropdown {
	position: absolute;
	z-index: 200;
}

.dropdown.left {
	top: 0;
	right: 100%;
}

.dropdown.right {
	top: 0;
	left: 100%;
}