.container {
  display: flex;
  height: 100%;
  width: 100%;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.container .seperator {
  width: 5px !important; /* important for overriding ReflexSplitter defined width */
}